name: Realistic CI/CD Pipeline

on:
  push:
    branches:
      - main
      - develop
    tags:
      - 'v*.*.*'  # v1.2.3

  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main

  schedule:
    cron: '0 3 * * 1' # min(0-59) hour(0-23) day(1-31) month(1-12) dayofweek(0(sunday)-6) 

  workflow_dispatch:
    inputs:
      deploy_env:
      description: "Evironment to deploy to"
      required: true. # the choice must be select
      default: 'staging'
      type: choice
      options:
        - staging
        - production
    force_deploy:
      description: 'Force Deployment'
      required: false
      default: false
      type: boolean 
